body {
    background-color: #090c0d;
}

div form {
    display: flex;
    flex-direction: column;
}

form input {
    margin-bottom: 5px;
}
form input:last-child {
    margin-top: 15px;
    margin-bottom: 10px;
}

.block-forma {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.link-button {
    color: rgb(27, 27, 210);
    font-size: 12px;
    text-decoration: underline;
}